* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(#ffe6f2, #ffd6e8);
    font-family: Arial, sans-serif;
}

#game {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#scoreboard {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 24px;
    color: #d63384;
    font-weight: bold;
}

#basket {
    position: absolute;
    bottom: 20px;
    width: 100px;
    height: 60px;
    left: calc(50% - 50px);
    background: url("https://i.imgur.com/1Y4D3Vv.png") no-repeat center/contain;
}

.heart {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url("https://i.imgur.com/3P5xgLQ.png") no-repeat center/contain;
}
